.ios, .md {
 
    page-user {
    .card-background-page {

  ion-card{
    position: relative;
    text-align: center;
  }

  .card-img {
    position: absolute;
    top: 20%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-title {
    position: absolute;
    top: 66%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 82%;
    width: 100%;
    color: #fff;
  }

  ion-avatar > img {

    padding: auto;
            margin: auto;
            width: 100px;
            height: auto;
  }

  .item-hiden {
    background: transparent !important;
  }

}
    }
 
}
